<!DOCTYPE html>
<html>

<head>
    {{>headerlinks}}
</head>

<body>
    <!---Nav Bar-->
    {{>navbar}}

    <!--Main Contant-->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!---Right Side-->
                    <div class="col-md-6 col-12 right_side">
                        <figure>
                            <img src="IMG/course.png" class="img-fluid" alt="Sachin" title="Sachin Kumar" />
                        </figure>
                    </div>
                    <!--Left Side-->
                    <div class="col-md-6 col-12 left_side">
                        <p>Welcome To Weather App</p>
                        <h1>I am a Full<span class="text_color"> STARK </span>Developer. </h1>
                        <a href="#"><Button> About Me</Button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!---Footer--->
    {{>footer}}

    <!---js, jquary, All-->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
</body>

</html>